.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 300px;
    background-color: #f0f0f5;
    justify-content: flex-start;
    border-right: 2px solid #d1d1e0;
    height: 92.7vh;
}

.sidebar_inside{
    overflow: auto;
}
