.channel_list_sidebar{
    flex: 1;
}

.channel_list{
    height: 84.3vh;
    overflow: auto;
}

.channel_header{
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 3px 10px;
}

.channel_header > h4{
    font-size: small;
    font-weight: 700;
    padding-top: 4px;
}

.add_new_channel:hover{
    cursor: pointer;
    transform: scale(1.5);
}
