.channel_list_sidebar{
    flex: 1;
}

.channel_list{
    height: 74.5vh;
    overflow: auto;
}

.channel_header{
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 3px 20px;
    background-color: #8c00ff;
    color: white;
    border-radius: 5px;
}

.channel_header > h4{
    font-size: medium;
    font-weight: 700;
    margin-top: 2px;
    padding-top: 2px;
}

.add_new_channel:hover{
    cursor: pointer;
    transform: scale(1.5);
}
