.chat_group_member_profile{
    display: flex;
    align-items: center;
    padding: 3px 0px 3px 0px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
}

.chat_group_member_profile:hover{
    background-color: #c2c2d6;
    cursor: pointer;
}

.member_avatar{
    border: 2px solid #26282c;
    margin-left: 10px;
}

#member_avatar_id{
    height: 25px;
    width: 25px;
}

.chat_group_member_name{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    overflow-x: hidden;
}

.chat_group_member_name > h3{
    font-size: small;
}

.chat_content_member_role_name{
    padding: 10px 0px 10px 10px;
}
