.sidebar_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #8c00ff;
    padding: 5px;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
}

.sidebar_profile_info{
    flex: 1;
    padding: 15px 15px 15px 5px;
}

.sidebar_profile_info > h3, .sidebar_profile_info > p{
    color: white;
}

.avatar{
    border: 2px solid #26282c;
    margin-left: 5px;
}

.avatar:hover{
    cursor:pointer;
}

.back_arrow{
    color:white;
    margin-left: 5px;
}

.back_arrow:hover{
    cursor: pointer;
}
