.next_event_group_container{
    display: flex;
    flex-direction: column;
    margin: 20px 25% 20px 5%;
}

.home_next_event_groups{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.closest_event_group_container{
    border: 2px solid #d1d1e0;
    border-radius: 5px;
    margin-top: 10px;
}

.empty_event_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.empty_event_group > .MuiSvgIcon-root{
    flex: 1;
}

.empty_event_group > h4{
    flex: 8;
}

.go_to_discover_group_button{
    padding: 10px;
    border-radius: 5px;
    background: #d1d1e0;
}

.go_to_discover_group_button:hover{
    cursor: pointer;
}
