.sidebar_header_container{
    position: relative;
}

.sidebar_group_header_container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px 15px 15px;
    background-color: #8c00ff;
    color: white;
}

.sidebar_group_header_container:hover{
    cursor: pointer;
    background-color: #9933ff;
}

.sidebar_group_header_name{
    display: flex;
    align-items: center;
}

.sidebar_group_header_name > h4{
    padding-left: 10px;
}
