.discover_page{
    flex: 1;
    overflow: auto;
    height: 100vh;
}

.discover_content_search_bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    margin: 10px 20px 0 20px;
    height: 20%;
    border-radius: 10px;
}

.discover_content_search_bg > h3{
    color: white;
    padding: 5px;
    text-shadow: 0 0 5px black;
}

.discover_content_empty_groups{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #f0f0f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
