.sidebar_home_div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.sidebar_home{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.sidebar_home_selected{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    background-color: #d199ff;
}

.sidebar_home:hover, .sidebar_home_selected:hover{
    cursor: pointer;
}

.sidebar_home_icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c00ff;
}

.sidebar_home_title_container{
    flex: 9;
    display: flex;
}

.sidebar_home_title{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
