.chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #47476b;
    padding: 15px;
    background: #f0f0f5;
    border-bottom: 2px solid #d1d1e0;
}

.chat_header_left{
    display: flex;
    color: black;
    flex-direction: row;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}

.chat_header_left:hover{
    background: #d1d1e0;
    cursor: pointer;
}

.chat_header_title{
    display: flex;
    align-items: center;
}

.chat_header_title > span{
    padding-left: 10px;
}

#chat_header_title_expand{
    display: flex;
    font-size: medium;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.chat_header_right{
    display: flex;
}

.chat_header_right:hover{
    cursor: pointer;
}

#header_group_tooltip{
    margin-top: -10px;
}
