.sidebar_group:hover > h4{
    color: white;
    background-color: #40464b;
}

.sidebar_group > h4{
    display: flex;
    padding-left: 20px;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar_group_name{
    font-size: 15px;
    padding: 5px;
}

.sidebar_group_name > span{
    padding-left: 10px;
}
