.group_icon_container{
    display: flex;
    flex-direction: row;
    padding: 10px 5px 5px 0px;
    position: relative;
}

.group_icon:hover {
    cursor: pointer;
}

.group_icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.active_group{
    margin-right: 5px;
    margin-left: -5px;
    border: 2px solid #f2e6ff;
    border-radius: 5px;
}

.not_active_group{
    margin-right: 5px;
    margin-left: -5px;
    border-radius: 5px;
    border: 2px solid #6600cc;
}
  
.tooltip_group {
    position: fixed;
    transform: translateX(40px) translateY(-30px);
    padding: 5px;
    color: white;
    background-color: black;
    font-size: small;
    line-height: 1;
    z-index: 100;
    border-radius: 5px;
}

.find_group_icon{
    color: #f2e6ff;
}

.add_group_icon{
    color: #f2e6ff;
}

.home_group_icon{
    background-color: #f2e6ff;
}
