.header{
    flex: 1;
    background: #f0f0f5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid #d1d1e0;
}

.header_logo_cont{
    flex: 2;
    display: flex;
    flex-direction: row;
}

.header_logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px 20px 10px 20px;
}

.header_logo:hover{
    cursor: pointer;
}

.header_location_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242526;
    background-color: #f0f0f5;
    border-radius: 3px;
    border: 2px solid #242526;
    margin: 10px 20px 10px 20px;
    padding-left: 10px;
}

.header_location_search > input{
    background: transparent;
    outline-width: 0;
    border: none;
}

.header_location_search > input::placeholder{
    color: grey;
}

.header_location_search > .MuiSvgIcon-root{
    margin-right: 5px;
}

.header_buttons{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8c00ff;
    border-radius: 3px;
    margin: 10px 20px 10px 20px;
    padding-left: 10px;
}

.header_tab{
    display: flex;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #f0f0f5;
}

.selected_tab{
    border-bottom: 2px solid #8c00ff;
}

.header_tab:hover{
    cursor: pointer;
}

.header_tab > .MuiSvgIcon-root{
    width: 30px;
    height: 30px;
}

/* header profile css */
.header_right{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: right;
    color: gray;
    background-color: #f0f0f5;
    padding: 5px 20px 5px 10px;
}

.header_profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-right: 5px;
    border-radius: 15px;
    color: black;
    font-weight: 600;
}

.header_profile_selected{
    background: #d199ff;
}

.header_profile:hover{
    background: #d199ff;
    cursor: pointer;
}

#header_avatar_profile{
    height: 30px;
    width: 30px;
    border: 2px solid #26282c;
    margin-right: 5px;
}

#header_notification{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border: 2px solid #d1d1e0;
    background: #d1d1e0;
    border-radius: 25px;
}

#header_avatar_profile:hover, #header_notification:hover{
    cursor: pointer;
}
