.signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding: 20px;
    background: #f0f0f5;
    color: #3e4042;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
}

.signup > h5{
    margin: 5px 0 5px 0;
    color: #3e4042;
}

.signup > input{
    margin-bottom: 15px;
    padding: 5px;
    background: #d1d1e0;
    color: #3e4042;
    font-size: medium;
}

.signup > button{
    width: 100%;
    background-color: #8c00ff;
    color: #eff2f5;
    font-weight: 800;
    margin-top: 10px;
}

.signup > button:hover {
    background-color: black;
    color: #738adb;
}

.signup > p{
    font-size: small;
    font-weight: 600;
    margin: 5px 0 5px 0;
    color: #3a83f8;
}

.signup > p:hover{
    cursor: pointer;
    text-decoration: underline;
}
