.group_info_page{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.group_info_page_scrollable{
    overflow: scroll;
    height: 92.7vh;
}

.group_info_header{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f5;
    border-bottom: 2px solid #d1d1e0;
}

.group_info_container_img{
    flex: 1;
    display: flex;
    margin: 0 100px 0 100px;
}

.group_info_container_img > img{
    flex: 1;
    height: 200px;
    border-radius:  0 0 10px 10px;
}

.group_info_container_name{
    margin: 10px 150px 0 150px;
}

.group_info_container_attr{
    margin: 0 150px 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.group_info_invite_button{
    padding: 5px;
    background: #8c00ff;
    color: white;
    border-radius: 5px;
    font-size: small;
}

.group_info_hr{
    margin: 5px 150px 0 150px;
    border: 1px solid #242526;
}

.group_info_container_last{
    margin: 5px 150px 5px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group_info_header_tabs{
    display: flex;
    flex-direction: row;
}

.group_info_header_tab_container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.group_info_header_tab_container:hover{
    cursor: pointer;
}

.group_info_header_tab{
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.selected_group_info_header_tab{
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    color: #8c00ff;
}

.group_info_header_tab:hover{
    background: #d199ff;
}

.group_info_header_tab_hr{
    border: 1px solid #f0f0f5;
}

.selected_group_info_header_tab_hr{
    border: 1px solid #8c00ff;
}

.group_info_header_tab_options{
    padding: 2px;
    background: #e0e0eb;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.group_info_header_tab_options:hover{
    background: #d199ff;
    cursor: pointer;
}

/* group info about content*/
.group_info_about_content{
    display: flex;
    flex-direction: column;
}

.group_info_about_details{
    width: 600px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_about_details_title, .group_info_rule_details_title{
    margin: 10px;
}

.group_info_about_details_hr, .group_info_rule_details_hr{
    margin: 0 10px 0 10px;
}

.group_info_about_group_setting, .group_info_about_group_history{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
}

.group_info_about_group_desc{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.group_info_about_group_setting > span, .group_info_about_group_history > span,
.group_info_about_group_desc > span{
    font-size: small;
}

.group_info_rule_details{
    width: 600px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_rule_details_content{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* group info discussions content*/
.group_info_discussion_content{
    display: flex;
    flex-direction: column;
}

.group_info_disc_create_post{
    width: 600px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_disc_create_post1{
    display: flex;
    flex-direction: row;
}

.group_info_disc_avatar{
    margin: 10px;
}

#group_info_disc_avatar_id{
    width: 40px;
    height: 40px;
}

.group_info_disc_input_div{
    flex: 5;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #d1d1e0;
}

.group_info_disc_input_div > form{
    flex: 1;
}

.group_info_disc_input_div > form > input{
    background: transparent;
    width: 100%;
    border: none;
    outline-width: 0;
    font-size: medium;
    margin-left: 10px;
}

.group_info_disc_submit_button{
    display: none;
}

.group_info_disc_hr{
    margin: 0 10px 0 10px;
}

.group_info_disc_tabs{
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
}

.group_info_disc_tab{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.group_info_disc_tab:hover{
    background: #d1d1e0;
    cursor: pointer;
}

.group_info_disc_tab > h5{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4px 7px 3px 7px;
}

/* group info discussion content post */
.group_info_disc_content_post{
    width: 600px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_disc_content_post_profile{
    display: flex;
    flex-direction: row;
}

.group_info_disc_post_avatar{
    margin: 10px;
}

.group_info_disc_post_name{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.group_info_disc_post_name > span{
    font-size: small;
}

.group_info_disc_post_message{
    margin: 0 10px 10px 10px;
    font-size: large;
}


/* group info member content*/
.group_info_member_content{
    display: flex;
    flex-direction: column;
}

.group_info_about_member{
    width: 600px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_member_title{
    margin: 10px;
}

.group_info_member_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242526;
    background-color: #f0f0f5;
    border-radius: 3px;
    border: 2px solid #242526;
    margin: 0 10px 10px 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.group_info_member_search > input{
    background: transparent;
    outline-width: 0;
    border: none;
}

.group_info_member_search > input::placeholder{
    color: grey;
}

.group_info_member_search > .MuiSvgIcon-root{
    margin-right: 5px;
}

.group_info_member_hr{
    margin: 0 10px 0 10px;
}

.group_info_member_profile{
    display: flex;
    align-items: center;
    padding: 3px 0px 3px 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
}

.group_info_member_profile:hover{
    background-color: #c2c2d6;
    cursor: pointer;
}

.group_info_member_avatar{
    border: 2px solid #26282c;
    margin-left: 10px;
}

#group_info_member_avatar_id{
    height: 25px;
    width: 25px;
}

.group_info_member_name{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    overflow-x: hidden;
}

.group_info_member_name > h3{
    font-size: small;
}

/*group info event content*/
.group_info_event_content{
    display: flex;
    flex-direction: column;
}

.group_info_event_upcoming{
    width: 800px;
    background: #f0f0f5;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
    border: 1px solid #d1d1e0;
    border-radius: 10px;
}

.group_info_event_upcoming_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.group_info_event_upcoming_title_button{
    padding: 7px;
    font-size: small;
    font-weight: 600;
    color: white;
    background: #8c00ff;
    border-radius: 5px;
}

.group_info_event_upcoming_title_button:hover{
    cursor: pointer;
}

.group_info_event_upcoming > hr{
    margin: 0 10px 0 10px;
}

.group_info_event_upcoming_empty{
    margin: 10px;
}
