.sidebar_group{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f5;
    border-right: 2px solid #d1d1e0;
    height: 92.7vh;
}

.sidebar_group_title{
    margin: 5px 5px 0 5px;
}

.sidebar_group_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242526;
    background-color: #f0f0f5;
    border-radius: 15px;
    border: 2px solid #242526;
    margin: 5px 5px 0 5px;
    padding-left: 10px;
}

.sidebar_group_search > input{
    background: transparent;
    outline-width: 0;
    border: none;
}

.sidebar_group_inside{
    overflow: auto;
}

.sidebar_group_create_button{
    margin: 10px 5px 0 5px;
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: small;
    font-weight: 600;
    color: white;
    background: #8c00ff;
    border-radius: 5px;
}

.sidebar_group_create_button{
    cursor: pointer;
}

/* group sidebar tabs */
.group_tab_cont{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.group_tab_def{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.group_tab_selected{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    background-color: #d199ff;
}

.group_tab_def:hover{
    cursor: pointer;
    background-color: #f4e6ff;
}

.group_tab_selected:hover{
    cursor: pointer;
}

.group_tab_icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c00ff;
    margin-right: 5px;
}

.group_tab_title_container{
    flex: 9;
    display: flex;
}

.group_tab_title{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
}

.sidebar_group_hr_divider{
    margin: 7px;
    border: 1px solid #d1d1e0;
}

/* sidebar group list */
.sidebar_group_list{
    display: flex;
    flex-direction: column;
}

.sidebar_group_list_header{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.sidebar_header_group_list_title{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
}

.group_list_tab{
    display: flex;
    padding-left: 50px;
    align-items: center;
    background-color: #f0f0f5;
    color: black;
    margin: 1px 10px 1px 10px;
    border-radius: 10px;
    font-size: small;
    font-weight: 500;
    padding: 5px;
}

.selected_group_list_tab{
    display: flex;
    align-items: center;
    background-color: #d199ff;
    color: black;
    margin: 1px 10px 1px 10px;
    border-radius: 10px;
    font-size: small;
    font-weight: 500;
    padding: 5px;
}

.group_list_tab:hover{
    cursor: pointer;
    background-color: #f4e6ff;
}

.selected_group_list_tab:hover{
    cursor: pointer;
}

.group_list_tab_title{
    margin-left: 20px;
}
