.sidebar_discover_div{
    display: flex;
    flex-direction: column;
}

.sidebar_discover_selected{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    background-color: #d199ff;
}

.sidebar_discover{
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.sidebar_discover:hover, .sidebar_discover_selected:hover{
    cursor: pointer;
}

.sidebar_discover_icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c00ff;
}

.sidebar_discover_title_container{
    flex: 9;
    display: flex;
}

.sidebar_discover_title{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
