.sidebar_discover{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f0f0f5;
}

.sidebar_discover_header{
    background-color: #8c00ff;
    padding: 19px 10px 18px 20px;
    color: white;
}

.discover_tab{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #f0f0f5;
    color: black;
    cursor: pointer;
    margin: 1px 10px 1px 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.selected_discover_tab{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #d199ff;
    color: black;
    cursor: pointer;
    margin: 1px 10px 1px 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.discover_tab:hover{
    background-color: #f4e6ff;
}
