.chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #47476b;
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.chat_header_avatar{
    color: gray;
    margin: 10px;
}

.chat_header_left > h3{
    display: flex;
    align-items: center;
}

.chat_header_left > h3 > span{
    padding-left: 10px;
    color: black;
}

.chat_header_left{
    flex: 2;
}

.chat_header_right{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.chat_header_right_options{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.chat_header_right_options > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}

.chat_header_right_options > .MuiSvgIcon-root:hover{
    color: black;
}

.chat_header_search{
    display: flex;
    align-items: center;
    color: grey;
    background-color: #f0f0f5;
    border-radius: 3px;
    padding: 3px;
}

.chat_header_search > input{
    background: transparent;
    outline-width: 0;
    border: none;
}

.chat_header_search > input::placeholder{
    color: grey;
}

#header_group_tooltip{
    margin-top: -15px;
}

.chat_header_option_right{
    display: flex;
    align-items: center;
}

.chat_header_option_right > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}

.chat_header_option_right > .MuiSvgIcon-root:hover{
    color: black;
}
