.chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #47476b;
    padding: 15px;
    background: #f0f0f5;
    border-bottom: 2px solid #d1d1e0;
}

.chat_header_left > h3{
    display: flex;
    align-items: center;
}

.chat_header_left > h3 > span{
    padding-left: 10px;
    color: black;
}

.chat_header_left{
    flex: 1;
}

.chat_header_right{
    display: flex;
}

#header_group_tooltip{
    margin-top: -15px;
}
