.channel_selected{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    color: black;
    background-color: #d199ff;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.channel{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.channel:hover {
    background-color: #f4e6ff;
}

.channel > span{
    margin: 1px 0 1px 10px;
}

.channel_selected > span{
    margin: 1px 0 1px 10px;
}

.channel > .channel_option{
    display: none;
}

.channel:hover > .channel_option{
    display: block;
}

#channel_option_icon{
    font-size: medium;
    margin-left: 3px;
}

.tooltip_invite_channel{
    color: black;
}
