.channel_selected{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    color: black;
    background-color: #d199ff;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.channel{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

.channel:hover {
    background-color: #f4e6ff;
}

.channel > span{
    margin: 1px 0 1px 10px;
}

.channel_selected > span{
    margin: 1px 0 1px 10px;
}

.channel_option{
    display: flex;
}

.channel > .channel_option{
    display: none;
}

.channel:hover > .channel_option{
    display: flex;
}

.channel_option_icon > .MuiSvgIcon-root{
    font-size: medium;
}

.channel_option_icon_div{
    width: 5px;
}

.tooltip_channel_add{
    position: fixed;
    background-color: black;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    margin: -30px 0 0 -12px;
}

.tooltip_channel_add::before {
    top: 100%;
    content: " ";
    left: 50%;
    position: absolute;
    margin-left: -5px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.tooltip_channel_edit{
    position: fixed;
    background-color: black;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    margin: -30px 0 0 -15px;
}

.tooltip_channel_edit::before {
    top: 100%;
    content: " ";
    left: 50%;
    position: absolute;
    margin-left: -5px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
